[Unit]
Description=Plexamp jukebox
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /home/pi/plexamp-jukebox/plexamp-startup.sh

[Install]
WantedBy=multi-user.target